<h1>Longest Word</h1>

<h3>Your word: <%= @attempt %></h3>

<ul>
  <li><%= @results[:time] %></li>
  <li><%= @results[:translation] %></li>
  <li><%= @results[:score] %></li>
  <li><%= @results[:message] %></li>
</ul>
